.form-control{
    background-color: transparent;
    margin: 5px;
    border: 1px solid #ffa019;
    max-width: 97%;
    margin-right: 0;
    color: #ffa019;
    overflow: auto;
    padding: 0;
}
.register{
    margin-top: 10px;
    color: #934848cf;
    /* box-shadow: 2px 4px 7px -1px #1d78a5; */
    overflow: auto;
    border: 10px solid;
    border-radius: 10px;
    overflow-x: hidden;
}
.row
{
    text-align: center;
}
.col-md-6
{
    margin:0 auto;
    display: inline-block;
}
.btn{
    margin:5px;
}