
  <div class="row homediv">
    <div class="col-md-12">
      <div class="hometextDiv">
       
        <div class="col-md-5 col-md-offset-3 justify-content-center" style="text-align: center;float:left">
          <ul>
            <li>
              <span>This responsive website is a sample project made in Angular 5 by Tushar Borchate</span>
            </li>
            <li>
              <span>This WebApp includes :</span>
              <ul>
                <li>
                  Multiple components
                </li>
                <li>
                  Multiple modules
                </li>
                <li>
                    Auth Guard
                  </li>
                <li>
                  custom directives
                </li>
                <li>
                  angular forms and validation
                </li>
                <li>
                  routing with parameters
                </li>
                <li>
                  session storage &  CRUD Using local storage
                </li>
                <li>
                  service injector
                </li>
                <li>
                  classes and interfaces
                </li>

                <li>

                  Angular Animation
                </li>

                
                <li>

                   Filters and pipe
                  </li>
                <li>

                    Unit Testing
                  </li>

              </ul>
            </li>
          </ul>
        </div>
        <div class="col-md-1" style="float:left;"></div>
        <div class="col-md-5 col-md-offset-1" style="float:left;">
          <app-loginuser></app-loginuser>
        </div>
      </div>
    </div>

    

  </div>

  
