
.homediv{
    

    color: black;
    overflow: auto;
    overflow-x: hidden;
}

.hometextDiv{
    // margin:5px;
    text-align: center;
}

.enroll
{
    background-color:#ccc;
    float:left;
    // margin:5px;
}
h6{
    text-align: center;
    color:white;
}

ul{
    background-color: #1d6183a8;
    list-style-type: circle;
    color:white;
}
ul li{
    margin:10px 0;
   text-align: left;
}

h4{
    text-align: center;

}