.form-row{
    margin:10px;
}

.login{
    margin-top: 10px;
    color: #934848cf;
    /* box-shadow: 2px 4px 7px -1px #1d78a5; */
    overflow: auto;
    border: 10px solid;
    border-radius: 10px;
}
.btn-primary{
    background-color: #1d6183a8;
    border-color: #1d6183a8;
}

.form-control{
    border: 1px solid #9348489c;
    background-color: transparent;
    color:#fd4d4d;

}

h2{
    font-size: 7vw;
}